/* Android */
@media (max-width: 767px) {
    #myTable_wrapper {
        overflow-x: auto;
    }

    #myTable {
        width: 100%;
        white-space: nowrap;
    }
}

/* Tablet (landscape) */
@media (min-width: 768px) and (max-width: 991px) {
    #myTable_wrapper {
        overflow-x: auto;
    }

    #myTable {
        width: 100%;
        white-space: nowrap;
    }
}

/* iPhone (portrait) */
@media (max-width: 767px) and (orientation: portrait) {
    #myTable_wrapper {
        overflow-x: auto;
    }

    #myTable {
        width: 100%;
        white-space: nowrap;
    }
}

/* iPhone (landscape) */
@media (max-width: 991px) and (orientation: landscape) {
    #myTable_wrapper {
        overflow-x: auto;
    }

    #myTable {
        width: 100%;
        white-space: nowrap;
    }
}
